In [1]:
#import library

import pandas as pd
import numpy as np

In [2]:
# Correct file path
file_path = r"C:\data felicia\Kuliah smtr 8\coway\data source\Invoice.csv"

# Attempt to read the CSV file with encoding
try:
    df = pd.read_csv(file_path, encoding='latin1')  # or encoding='ISO-8859-1'
    print(df.head())
except FileNotFoundError:
    print("Error: The file was not found. Please check the path and file name.")
except pd.errors.ParserError:
    print("Error: There was an issue with parsing the CSV file. Please check the file's content.")
except Exception as e:
    print(f"An error occurred: {e}")

C:\Users\felic\AppData\Local\Temp\ipykernel_15140\1845218630.py:6: DtypeWarning: Columns (10,14,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, encoding='latin1')  # or encoding='ISO-8859-1'

  Order ID Net Sales Date    Customer id     Customer Name  Price list
0  Order 1     12/04/2022  CUST-22040173    MxCHxXXU xUAxN  Package 36  \
1  Order 2     31/08/2023  CUST-23081581        QxH HxNGGx  Package 36
2  Order 3     30/03/2024  CUST-24031288   xNAxN XXAxPxAQx  Package 36
3  Order 4     12/04/2022  CUST-22040230    FxAQxH MxxUxNx  Package 60
4  Order 5      6/10/2022  CUST-22100014  xYxUUY xYxHFxAQx  Package 60

  Purchase Type Installment Payment Method Promotion Code Invoice Type
0       Partial                Credit Card   Hore Promo 1    Recurring  \
1       Partial                Credit Card   Hore Promo 2    Recurring
2       Partial           Direct Debit BCA   Hore Promo 3    Recurring
3       Partial                Credit Card   Hore Promo 4    Recurring
4       Partial           Direct Debit BCA   Hore Promo 3    Recurring

   Instalment Number  ... Invoice Date    Due Date Payment Date  Payment
0                  9  ...    1/02/2023  28/02/2023    2/02/2023        0  \
1                  8  ...    1/05/2024  31/05/2024   25/05/2024        0
2                  1  ...    1/05/2024  31/05/2024   30/05/2024        0
3                  9  ...    1/02/2023  28/02/2023    2/02/2023        0
4                 19  ...    1/06/2024  30/06/2024   25/06/2024  580,000

  Invoice Amount Total Payment Outstanding             Risk Invoice Status
0        430,000       860,000    -430,000  Risk Category 1           Paid  \
1        380,000       760,000    -380,000   No Information           Paid
2        300,000       600,000    -300,000  Risk Category 2           Paid
3        290,000       580,000    -290,000  Risk Category 1           Paid
4        290,000       580,000    -290,000  Risk Category 3           Paid

  Overdue Months
0              0
1              0
2              0
3              0
4              0

[5 rows x 21 columns]

In [3]:
print(df)

            Order ID Net Sales Date     Customer id
0            Order 1     12/04/2022   CUST-22040173  \
1            Order 2     31/08/2023   CUST-23081581
2            Order 3     30/03/2024   CUST-24031288
3            Order 4     12/04/2022   CUST-22040230
4            Order 5      6/10/2022   CUST-22100014
...              ...            ...             ...
1002695  Order 73416     23/02/2024  CUST-000065563
1002696  Order 73417     23/02/2024  CUST-000065563
1002697  Order 73418     20/06/2024   CUST-24051663
1002698  Order 63871     15/12/2023   CUST-23120248
1002699  Order 73419     13/06/2024   CUST-24030626

                               Customer Name  Price list Purchase Type
0                             MxCHxXXU xUAxN  Package 36       Partial  \
1                                 QxH HxNGGx  Package 36       Partial
2                            xNAxN XXAxPxAQx  Package 36       Partial
3                             FxAQxH MxxUxNx  Package 60       Partial
4                           xYxUUY xYxHFxAQx  Package 60       Partial
...                                      ...         ...           ...
1002695               xNxAXXQxxAxx xxQUxNGGx  Package 36          Full
1002696               xNxAXXQxxAxx xxQUxNGGx  Package 36          Full
1002697  xxXX xXAAx WxHxD FxxDx MxNxFxCAxQXX  Package 36          Full
1002698           ZZ. AxQYx xXQxNx xXMxDXXQx  Package 72          Full
1002699                    DXXUAx PxNxNG Mxx  Package 72          Full

        Installment Payment Method Promotion Code Invoice Type
0                      Credit Card   Hore Promo 1    Recurring  \
1                      Credit Card   Hore Promo 2    Recurring
2                 Direct Debit BCA   Hore Promo 3    Recurring
3                      Credit Card   Hore Promo 4    Recurring
4                 Direct Debit BCA   Hore Promo 3    Recurring
...                            ...            ...          ...
1002695                        NaN              0     Outright
1002696                        NaN              0     Outright
1002697                        NaN              0     Outright
1002698                        NaN   Hore Promo 3     Outright
1002699                        NaN              0     Outright

         Instalment Number  ... Invoice Date    Due Date Payment Date
0                        9  ...    1/02/2023  28/02/2023    2/02/2023  \
1                        8  ...    1/05/2024  31/05/2024   25/05/2024
2                        1  ...    1/05/2024  31/05/2024   30/05/2024
3                        9  ...    1/02/2023  28/02/2023    2/02/2023
4                       19  ...    1/06/2024  30/06/2024   25/06/2024
...                    ...  ...          ...         ...          ...
1002695                  0  ...   23/02/2024  24/03/2024       [NULL]
1002696                  0  ...   23/02/2024  24/03/2024       [NULL]
1002697                  0  ...   20/06/2024  20/07/2024       [NULL]
1002698                  0  ...   15/12/2023  14/01/2024   29/05/2024
1002699                  0  ...   13/06/2024  13/07/2024       [NULL]

         Payment Invoice Amount Total Payment Outstanding             Risk
0              0        430,000       860,000    -430,000  Risk Category 1  \
1              0        380,000       760,000    -380,000   No Information
2              0        300,000       600,000    -300,000  Risk Category 2
3              0        290,000       580,000    -290,000  Risk Category 1
4        580,000        290,000       580,000    -290,000  Risk Category 3
...          ...            ...           ...         ...              ...
1002695        0     19,950,000        [NULL]  19,950,000   No Information
1002696        0     19,950,000        [NULL]  19,950,000  Risk Category 2
1002697        0     19,950,000        [NULL]  19,950,000  Risk Category 6
1002698        0     28,080,000     1,170,000  26,910,000  Risk Category 1
1002699        0     27,300,000        [NULL]  27,300,000  Risk Category 2

        Invoice Status Overdue Months
0                 Paid              0
1                 Paid              0
2                 Paid              0
3                 Paid              0
4                 Paid              0
...                ...            ...
1002695        Overdue              4
1002696        Overdue              4
1002697         Unpaid              0
1002698        Overdue              6
1002699         Unpaid              0

[1002700 rows x 21 columns]

In [4]:
# Get the list of column names
column_names = df.columns.tolist()

# Print the column names
print(column_names)

['Order ID', 'Net Sales Date', 'Customer id', 'Customer Name', 'Price list', 'Purchase Type', 'Installment Payment Method', 'Promotion Code', 'Invoice Type', 'Instalment Number', 'INVOICE ID', 'Invoice Date', 'Due Date', 'Payment Date', 'Payment', 'Invoice Amount', 'Total Payment', 'Outstanding', 'Risk', 'Invoice Status', 'Overdue Months']

In [37]:
# List of columns to keep
columns_to_keep = [
    'Purchase Type',
    'Net Sales Date',
    'Customer id',
    'Customer Name',
    'Price list',
    'Promotion Code',
    'Outstanding',
    'Total Payment',
    'Invoice Amount',
    'Overdue Months',
    'Invoice Date',
    'Due Date',
    'Payment Date',
    'INVOICE ID'
]

In [64]:
df2 = df

In [38]:
#df2 = df[columns_to_keep]
#print(df2.head())

  Purchase Type Net Sales Date    Customer id     Customer Name  Price list
0       Partial     12/04/2022  CUST-22040173    MxCHxXXU xUAxN  Package 36  \
1       Partial     31/08/2023  CUST-23081581        QxH HxNGGx  Package 36
2       Partial     30/03/2024  CUST-24031288   xNAxN XXAxPxAQx  Package 36
3       Partial     12/04/2022  CUST-22040230    FxAQxH MxxUxNx  Package 60
4       Partial      6/10/2022  CUST-22100014  xYxUUY xYxHFxAQx  Package 60

  Promotion Code Outstanding Total Payment Invoice Amount  Overdue Months
0   Hore Promo 1    -430,000       860,000        430,000               0  \
1   Hore Promo 2    -380,000       760,000        380,000               0
2   Hore Promo 3    -300,000       600,000        300,000               0
3   Hore Promo 4    -290,000       580,000        290,000               0
4   Hore Promo 3    -290,000       580,000        290,000               0

  Invoice Date    Due Date Payment Date    INVOICE ID
0    1/02/2023  28/02/2023    2/02/2023  440800018582
1    1/05/2024  31/05/2024   25/05/2024  461800004568
2    1/05/2024  31/05/2024   30/05/2024  480600261510
3    1/02/2023  28/02/2023    2/02/2023  440800019172
4    1/06/2024  30/06/2024   25/06/2024  442000016164

In [65]:
# Remove duplicate rows
df_clean = df2.drop_duplicates()

# Optionally, display the DataFrame to verify
print(df_clean.head())

  Order ID Net Sales Date    Customer id     Customer Name  Price list
0  Order 1     12/04/2022  CUST-22040173    MxCHxXXU xUAxN  Package 36  \
1  Order 2     31/08/2023  CUST-23081581        QxH HxNGGx  Package 36
2  Order 3     30/03/2024  CUST-24031288   xNAxN XXAxPxAQx  Package 36
3  Order 4     12/04/2022  CUST-22040230    FxAQxH MxxUxNx  Package 60
4  Order 5      6/10/2022  CUST-22100014  xYxUUY xYxHFxAQx  Package 60

  Purchase Type Installment Payment Method Promotion Code Invoice Type
0       Partial                Credit Card   Hore Promo 1    Recurring  \
1       Partial                Credit Card   Hore Promo 2    Recurring
2       Partial           Direct Debit BCA   Hore Promo 3    Recurring
3       Partial                Credit Card   Hore Promo 4    Recurring
4       Partial           Direct Debit BCA   Hore Promo 3    Recurring

   Instalment Number  ... Invoice Date    Due Date Payment Date  Payment
0                  9  ...    1/02/2023  28/02/2023    2/02/2023        0  \
1                  8  ...    1/05/2024  31/05/2024   25/05/2024        0
2                  1  ...    1/05/2024  31/05/2024   30/05/2024        0
3                  9  ...    1/02/2023  28/02/2023    2/02/2023        0
4                 19  ...    1/06/2024  30/06/2024   25/06/2024  580,000

  Invoice Amount Total Payment Outstanding             Risk Invoice Status
0        430,000       860,000    -430,000  Risk Category 1           Paid  \
1        380,000       760,000    -380,000   No Information           Paid
2        300,000       600,000    -300,000  Risk Category 2           Paid
3        290,000       580,000    -290,000  Risk Category 1           Paid
4        290,000       580,000    -290,000  Risk Category 3           Paid

  Overdue Months
0              0
1              0
2              0
3              0
4              0

[5 rows x 21 columns]

In [66]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1002700 entries, 0 to 1002699
Data columns (total 21 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   Order ID                    1002700 non-null  object
 1   Net Sales Date              1002700 non-null  object
 2   Customer id                 1002700 non-null  object
 3   Customer Name               1002700 non-null  object
 4   Price list                  1002700 non-null  object
 5   Purchase Type               1002700 non-null  object
 6   Installment Payment Method  983323 non-null   object
 7   Promotion Code              1001827 non-null  object
 8   Invoice Type                1002700 non-null  object
 9   Instalment Number           1002700 non-null  int64
 10  INVOICE ID                  1002700 non-null  object
 11  Invoice Date                1002700 non-null  object
 12  Due Date                    1002700 non-null  object
 13  Payment Date                1002700 non-null  object
 14  Payment                     1002700 non-null  object
 15  Invoice Amount              1002700 non-null  object
 16  Total Payment               1002700 non-null  object
 17  Outstanding                 1002700 non-null  object
 18  Risk                        1002700 non-null  object
 19  Invoice Status              1002700 non-null  object
 20  Overdue Months              1002700 non-null  int64
dtypes: int64(2), object(19)
memory usage: 160.6+ MB

In [72]:
df_clean['Outstanding'] = df_clean['Outstanding'].replace(',','', regex=True)

In [68]:
df_clean.head()

,Order ID,Net Sales Date,Customer id,Customer Name,Price list,Purchase Type,Installment Payment Method,Promotion Code,Invoice Type,Instalment Number,...,Invoice Date,Due Date,Payment Date,Payment,Invoice Amount,Total Payment,Outstanding,Risk,Invoice Status,Overdue Months
0,Order 1,12/04/2022,CUST-22040173,MxCHxXXU xUAxN,Package 36,Partial,Credit Card,Hore Promo 1,Recurring,9,...,1/02/2023,28/02/2023,2/02/2023,0,"430,000","860,000",-430000,Risk Category 1,Paid,0
1,Order 2,31/08/2023,CUST-23081581,QxH HxNGGx,Package 36,Partial,Credit Card,Hore Promo 2,Recurring,8,...,1/05/2024,31/05/2024,25/05/2024,0,"380,000","760,000",-380000,No Information,Paid,0
2,Order 3,30/03/2024,CUST-24031288,xNAxN XXAxPxAQx,Package 36,Partial,Direct Debit BCA,Hore Promo 3,Recurring,1,...,1/05/2024,31/05/2024,30/05/2024,0,"300,000","600,000",-300000,Risk Category 2,Paid,0
3,Order 4,12/04/2022,CUST-22040230,FxAQxH MxxUxNx,Package 60,Partial,Credit Card,Hore Promo 4,Recurring,9,...,1/02/2023,28/02/2023,2/02/2023,0,"290,000","580,000",-290000,Risk Category 1,Paid,0
4,Order 5,6/10/2022,CUST-22100014,xYxUUY xYxHFxAQx,Package 60,Partial,Direct Debit BCA,Hore Promo 3,Recurring,19,...,1/06/2024,30/06/2024,25/06/2024,"580,000","290,000","580,000",-290000,Risk Category 3,Paid,0

In [73]:
df_clean['Outstanding'].astype(str).astype(float)

0           -430000.0
1           -380000.0
2           -300000.0
3           -290000.0
4           -290000.0
              ...
1002695    19950000.0
1002696    19950000.0
1002697    19950000.0
1002698    26910000.0
1002699    27300000.0
Name: Outstanding, Length: 1002700, dtype: float64

In [74]:
df_clean['Outstanding'] = df_clean['Outstanding'].apply(lambda x: int(round(float(x))))

In [75]:
#drop the nulls

# Check for nulls in each column
null_counts = df_clean.isnull().sum()

# Print the count of null values for each column
print(null_counts)

Order ID                          0
Net Sales Date                    0
Customer id                       0
Customer Name                     0
Price list                        0
Purchase Type                     0
Installment Payment Method    19377
Promotion Code                  873
Invoice Type                      0
Instalment Number                 0
INVOICE ID                        0
Invoice Date                      0
Due Date                          0
Payment Date                      0
Payment                           0
Invoice Amount                    0
Total Payment                     0
Outstanding                       0
Risk                              0
Invoice Status                    0
Overdue Months                    0
dtype: int64

In [76]:
df_clean['Outstanding'].astype(int)

0           -430000
1           -380000
2           -300000
3           -290000
4           -290000
             ...
1002695    19950000
1002696    19950000
1002697    19950000
1002698    26910000
1002699    27300000
Name: Outstanding, Length: 1002700, dtype: int32

In [77]:
df_clean['Outstanding'] = pd.to_numeric(df_clean['Outstanding'], errors='coerce')

In [78]:
# Define a function to categorize the Outstanding amounts
def categorize_outstanding(amount):
    if amount < 500000:
        return 'A'
    elif 500000 <= amount <= 5000000:
        return 'B'
    elif 5000001 <= amount <= 10000000:
        return 'C'
    elif amount > 10000000:
        return 'D'
    else:
        return 'Unknown'  # Just in case there are unexpected values

# Apply the function to create the 'Outstanding group' column
df_clean['Outstanding group'] = df_clean['Outstanding'].apply(categorize_outstanding)

In [79]:
# Count the occurrences of each unique value in the 'Outstanding group' column
value_counts = df_clean['Outstanding group'].value_counts()

# Print the count of 'Unknown'
unknown_count = value_counts.get('Unknown', 0)
print(f"Number of 'Unknown' entries: {unknown_count}")

Number of 'Unknown' entries: 0

In [80]:
df3 = df_clean.copy()

In [81]:
#menghapus NULL
df3 = df3[~df3['Total Payment'].str.contains('\[NULL\]')]

In [82]:
print(df3)

            Order ID Net Sales Date     Customer id
0            Order 1     12/04/2022   CUST-22040173  \
1            Order 2     31/08/2023   CUST-23081581
2            Order 3     30/03/2024   CUST-24031288
3            Order 4     12/04/2022   CUST-22040230
4            Order 5      6/10/2022   CUST-22100014
...              ...            ...             ...
1002597  Order 73318      2/01/2024   CUST-23050308
1002598  Order 73319      2/01/2024   CUST-23050308
1002599  Order 73320      2/01/2024   CUST-23050308
1002600  Order 73321     21/12/2020  CUST-000059833
1002698  Order 63871     15/12/2023   CUST-23120248

                              Customer Name  Price list Purchase Type
0                            MxCHxXXU xUAxN  Package 36       Partial  \
1                                QxH HxNGGx  Package 36       Partial
2                           xNAxN XXAxPxAQx  Package 36       Partial
3                            FxAQxH MxxUxNx  Package 60       Partial
4                          xYxUUY xYxHFxAQx  Package 60       Partial
...                                     ...         ...           ...
1002597  XXMxxY xF AHXX QXXPxxUxC xF AxQxXX  Package 36          Full
1002598  XXMxxY xF AHXX QXXPxxUxC xF AxQxXX  Package 36          Full
1002599  XXMxxY xF AHXX QXXPxxUxC xF AxQxXX  Package 36          Full
1002600                    CA. CxAQx MxYxNx   Package 6          Full
1002698          ZZ. AxQYx xXQxNx xXMxDXXQx  Package 72          Full

        Installment Payment Method Promotion Code Invoice Type
0                      Credit Card   Hore Promo 1    Recurring  \
1                      Credit Card   Hore Promo 2    Recurring
2                 Direct Debit BCA   Hore Promo 3    Recurring
3                      Credit Card   Hore Promo 4    Recurring
4                 Direct Debit BCA   Hore Promo 3    Recurring
...                            ...            ...          ...
1002597                        NaN              0     Outright
1002598                        NaN              0     Outright
1002599                        NaN              0     Outright
1002600                        NaN              0     Outright
1002698                        NaN   Hore Promo 3     Outright

         Instalment Number  ...    Due Date Payment Date  Payment
0                        9  ...  28/02/2023    2/02/2023        0  \
1                        8  ...  31/05/2024   25/05/2024        0
2                        1  ...  31/05/2024   30/05/2024        0
3                        9  ...  28/02/2023    2/02/2023        0
4                       19  ...  30/06/2024   25/06/2024  580,000
...                    ...  ...         ...          ...      ...
1002597                  0  ...   1/02/2024    1/02/2024        0
1002598                  0  ...   1/02/2024    1/02/2024        0
1002599                  0  ...   1/02/2024    1/02/2024        0
1002600                  0  ...  20/01/2021   30/11/2021        0
1002698                  0  ...  14/01/2024   29/05/2024        0

        Invoice Amount Total Payment Outstanding             Risk
0              430,000       860,000     -430000  Risk Category 1  \
1              380,000       760,000     -380000   No Information
2              300,000       600,000     -300000  Risk Category 2
3              290,000       580,000     -290000  Risk Category 1
4              290,000       580,000     -290000  Risk Category 3
...                ...           ...         ...              ...
1002597   8,918,918.73  2,972,972.98     5945946   No Information
1002598   8,918,918.73  2,972,972.98     5945946   No Information
1002599   8,918,918.73  2,972,972.98     5945946   No Information
1002600      7,460,000     1,080,000     6380000   No Information
1002698     28,080,000     1,170,000    26910000  Risk Category 1

         Invoice Status Overdue Months Outstanding group
0                  Paid              0                 A
1                  Paid              0                 A
2                  Paid              0                 A
3                  Paid              0                 A
4                  Paid              0                 A
...                 ...            ...               ...
1002597         Overdue              5                 C
1002598         Overdue              5                 C
1002599         Overdue              5                 C
1002600         Overdue             42                 C
1002698         Overdue              6                 D

[841777 rows x 22 columns]

In [52]:
df3.head()

,Purchase Type,Net Sales Date,Customer id,Customer Name,Price list,Promotion Code,Outstanding,Total Payment,Invoice Amount,Overdue Months,Invoice Date,Due Date,Payment Date,INVOICE ID,Outstanding group
0,Partial,12/04/2022,CUST-22040173,MxCHxXXU xUAxN,Package 36,Hore Promo 1,-430000,"860,000","430,000",0,1/02/2023,28/02/2023,2/02/2023,440800018582,A
1,Partial,31/08/2023,CUST-23081581,QxH HxNGGx,Package 36,Hore Promo 2,-380000,"760,000","380,000",0,1/05/2024,31/05/2024,25/05/2024,461800004568,A
2,Partial,30/03/2024,CUST-24031288,xNAxN XXAxPxAQx,Package 36,Hore Promo 3,-300000,"600,000","300,000",0,1/05/2024,31/05/2024,30/05/2024,480600261510,A
3,Partial,12/04/2022,CUST-22040230,FxAQxH MxxUxNx,Package 60,Hore Promo 4,-290000,"580,000","290,000",0,1/02/2023,28/02/2023,2/02/2023,440800019172,A
4,Partial,6/10/2022,CUST-22100014,xYxUUY xYxHFxAQx,Package 60,Hore Promo 3,-290000,"580,000","290,000",0,1/06/2024,30/06/2024,25/06/2024,442000016164,A

In [83]:
df4 = df3.copy()

In [84]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 841777 entries, 0 to 1002698
Data columns (total 22 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Order ID                    841777 non-null  object
 1   Net Sales Date              841777 non-null  object
 2   Customer id                 841777 non-null  object
 3   Customer Name               841777 non-null  object
 4   Price list                  841777 non-null  object
 5   Purchase Type               841777 non-null  object
 6   Installment Payment Method  822715 non-null  object
 7   Promotion Code              841007 non-null  object
 8   Invoice Type                841777 non-null  object
 9   Instalment Number           841777 non-null  int64
 10  INVOICE ID                  841777 non-null  object
 11  Invoice Date                841777 non-null  object
 12  Due Date                    841777 non-null  object
 13  Payment Date                841777 non-null  object
 14  Payment                     841777 non-null  object
 15  Invoice Amount              841777 non-null  object
 16  Total Payment               841777 non-null  object
 17  Outstanding                 841777 non-null  int64
 18  Risk                        841777 non-null  object
 19  Invoice Status              841777 non-null  object
 20  Overdue Months              841777 non-null  int64
 21  Outstanding group           841777 non-null  object
dtypes: int64(3), object(19)
memory usage: 147.7+ MB

In [85]:
df4['Invoice Amount'] = df4['Invoice Amount'].replace(',','', regex=True)
df4['Total Payment'] = df4['Total Payment'].replace(',','', regex=True)

In [86]:
df4['Invoice Amount'].astype(str).astype(float)
df4['Total Payment'].astype(str).astype(float)

0           860000.00
1           760000.00
2           600000.00
3           580000.00
4           580000.00
              ...
1002597    2972972.98
1002598    2972972.98
1002599    2972972.98
1002600    1080000.00
1002698    1170000.00
Name: Total Payment, Length: 841777, dtype: float64

In [87]:
df4['Invoice Amount'] = df4['Invoice Amount'].apply(lambda x: int(round(float(x))))
df4['Total Payment'] = df4['Total Payment'].apply(lambda x: int(round(float(x))))

In [88]:
df4['Total Payment'].astype(int)
df4['Invoice Amount'].astype(int)
df4['Overdue Months'].astype(int)

0           0
1           0
2           0
3           0
4           0
           ..
1002597     5
1002598     5
1002599     5
1002600    42
1002698     6
Name: Overdue Months, Length: 841777, dtype: int32

In [89]:
#drop the nulls

# Check for nulls in each column
null_counts = df4.isnull().sum()

# Print the count of null values for each column
print(null_counts)

Order ID                          0
Net Sales Date                    0
Customer id                       0
Customer Name                     0
Price list                        0
Purchase Type                     0
Installment Payment Method    19062
Promotion Code                  770
Invoice Type                      0
Instalment Number                 0
INVOICE ID                        0
Invoice Date                      0
Due Date                          0
Payment Date                      0
Payment                           0
Invoice Amount                    0
Total Payment                     0
Outstanding                       0
Risk                              0
Invoice Status                    0
Overdue Months                    0
Outstanding group                 0
dtype: int64

In [90]:
df4['Collection Rate'] = np.where(df4['Total Payment'] >= df4['Invoice Amount'], 100, (df4['Total Payment'] / df4['Invoice Amount']) * 100)

In [121]:
#df4['Collection Rate'] = (df4['Total Payment'] / df4['Invoice Amount']) * df4['Overdue Months']

In [91]:
df4.head()

,Order ID,Net Sales Date,Customer id,Customer Name,Price list,Purchase Type,Installment Payment Method,Promotion Code,Invoice Type,Instalment Number,...,Payment Date,Payment,Invoice Amount,Total Payment,Outstanding,Risk,Invoice Status,Overdue Months,Outstanding group,Collection Rate
0,Order 1,12/04/2022,CUST-22040173,MxCHxXXU xUAxN,Package 36,Partial,Credit Card,Hore Promo 1,Recurring,9,...,2/02/2023,0,430000,860000,-430000,Risk Category 1,Paid,0,A,100.0
1,Order 2,31/08/2023,CUST-23081581,QxH HxNGGx,Package 36,Partial,Credit Card,Hore Promo 2,Recurring,8,...,25/05/2024,0,380000,760000,-380000,No Information,Paid,0,A,100.0
2,Order 3,30/03/2024,CUST-24031288,xNAxN XXAxPxAQx,Package 36,Partial,Direct Debit BCA,Hore Promo 3,Recurring,1,...,30/05/2024,0,300000,600000,-300000,Risk Category 2,Paid,0,A,100.0
3,Order 4,12/04/2022,CUST-22040230,FxAQxH MxxUxNx,Package 60,Partial,Credit Card,Hore Promo 4,Recurring,9,...,2/02/2023,0,290000,580000,-290000,Risk Category 1,Paid,0,A,100.0
4,Order 5,6/10/2022,CUST-22100014,xYxUUY xYxHFxAQx,Package 60,Partial,Direct Debit BCA,Hore Promo 3,Recurring,19,...,25/06/2024,"580,000",290000,580000,-290000,Risk Category 3,Paid,0,A,100.0

In [33]:
# Check for negative values in 'Total Payment' column
if (df4['Total Payment'] < 0).any():
    print("There are negative values in the 'Total Payment' column.")
else:
    print("There are no negative values in the 'Total Payment' column.")

# Check for negative values in 'Invoice Amount' column
if (df4['Invoice Amount'] < 0).any():
    print("There are negative values in the 'Invoice Amount' column.")
else:
    print("There are no negative values in the 'Invoice Amount' column.")

There are negative values in the 'Total Payment' column.
There are no negative values in the 'Invoice Amount' column.

In [62]:
#df4_ca = df4[df4['Customer Name'] == 'CA. AxAxMx xNDxNxxX']

In [34]:
#karena payment tidak mungkin negatif, maka drop rows yang negatif

df4_clean = df4[df4['Total Payment'] >= 0]

In [32]:
nilai_unik = df4['Collection Rate'].unique()
print(nilai_unik)

[ 1.00000000e+02  9.99999880e+01  9.98214286e+01  9.99854637e+01
  9.75925926e+01  9.58333333e+01  9.62962963e+01  9.70588235e+01
  9.40711462e+01  9.50000000e+01  9.81982308e+01  9.81982143e+01
  8.88888889e+01  8.75000000e+01  8.70370370e+01  8.51851852e+01
  9.81982041e+01  7.72727273e+01  9.63963846e+01  9.81981923e+01
  8.22962963e+01  9.81405000e+01  8.57142857e+01  8.14814815e+01
  9.09090909e+01  8.73877500e+01  9.63964286e+01  7.27272727e+01
  7.93103448e+01  7.77777778e+01  7.58620690e+01  7.33333333e+01
  2.53164557e+00  7.03703704e+01  6.66666667e+01  5.65656566e+01
  6.25000000e+01  6.87500000e+01  6.55172414e+01  8.18181818e+01
  9.27928571e+01  9.87387500e+01  9.27857143e+01  5.55555556e+01
  5.86206897e+01  5.51724138e+01  7.50000000e+01  9.86486523e+01
  4.81481481e+01  6.51162791e+01  4.79310345e+01  4.07407407e+01
  5.42857143e+01  4.48275862e+01  5.00000000e+01  2.72727273e+01
  4.16071429e+01  3.88888889e+01  2.50000000e+01  6.73076923e+01
  3.70370370e+01  2.27272727e+01  8.73872143e+01  3.33333333e+01
  4.37500000e+01  4.70588235e+01  9.30007308e+01  6.06060606e+00
  5.05050505e+00  2.96296296e+01  1.36363636e+01  3.44827586e+01
  2.08333333e+01  0.00000000e+00  4.28571429e+01  9.09090909e+00
  2.59259259e+01  1.25000000e+01  5.62500000e+01  2.22222222e+01
  3.43750000e+01  5.53191489e+01  9.19230769e+01  1.85185185e+01
  2.41379310e+01  4.16666667e+00  1.48148148e+01  4.38095238e+01
  1.11111111e+01  2.94117647e+01  3.14285714e+01  2.85714286e+01
  7.40740741e+00  1.37931034e+01  1.66666667e+01  3.75000000e+01
  7.90513834e-01  5.55555556e+00  3.70370370e+00  1.87500000e+01
  1.81818750e+01  2.59259259e+00  1.85185185e+00  9.25925926e-01
  3.28518519e-01  3.72093023e+01  1.56250000e+01  3.53514286e+01
  4.13793103e+00  3.44827586e+00  1.76470588e+01  9.84843144e+01
  4.96491228e+01  6.89655172e-01  9.37500000e+00  3.33333333e+00
  6.25000000e+00  4.32164941e+01  2.71428571e+01  2.03125000e+00
  2.38095238e+01  5.88235294e+00  5.71428571e+00  2.94117647e+00
  2.30769231e+00  7.14285714e+00  5.00000000e-01  6.97674419e+00
  8.33333333e+00  1.09090909e+01 -1.00000000e+02  9.54766312e+01
  1.57894737e-03  4.60006295e+01  6.60002681e+01  9.16666667e+01
  9.10000018e+01  7.56578947e+01  7.15170279e+01  6.86005556e+01
  5.69541029e+01  5.59805424e+01  1.52069918e+01  1.44772118e+01]

In [125]:
nilai_unik = df4['Purchase Type'].unique()
print(nilai_unik)

['Partial' 'Full']

In [126]:
nilai_unik = df4['Price list'].unique()
print(nilai_unik)

['Package 36' 'Package 60' 'Package 6' 'Membership' 'Product Only'
 'Delivery Package 6-P' 'Delivery Package 6' 'After Service' 'Package 72'
 'Membership Installment']

In [127]:
nilai_unik = df4['Promotion Code'].unique()
print(nilai_unik)

['Hore Promo 1' 'Hore Promo 2' 'Hore Promo 3' 'Hore Promo 4'
 'Hore Promo 5' 'Hore Promo 6' 'Hore Promo 7' 'Hore Promo 8'
 'Hore Promo 9' 'Hore Promo 10' 'Hore Promo 11' 'Hore Promo 12'
 'Hore Promo 13' 'Hore Promo 14' 'Hore Promo 15' 'Hore Promo 16'
 'Hore Promo 17' 'Hore Promo 18' 'Hore Promo 19' 'Hore Promo 20'
 'Hore Promo 21' 'Hore Promo 22' 'Hore Promo 23' 'Hore Promo 24'
 'Hore Promo 25' 'Hore Promo 26' 'Hore Promo 27' 'Hore Promo 28'
 'Hore Promo 29' 'Hore Promo 30' 'Hore Promo 31' 'Hore Promo 32'
 'Hore Promo 33' 'Hore Promo 34' 'Hore Promo 35' 'Hore Promo 36'
 'Hore Promo 37' 'Hore Promo 38' 'Hore Promo 39' 'Hore Promo 40'
 'Hore Promo 41' 'Hore Promo 42' 'Hore Promo 43' 'Hore Promo 44'
 'Hore Promo 45' 'Hore Promo 46' 'Hore Promo 47' 'Hore Promo 48'
 'Hore Promo 49' 'Hore Promo 50' 'Hore Promo 51' 'Hore Promo 52'
 'Hore Promo 53' 'Hore Promo 54' 'Hore Promo 55' 'Hore Promo 56'
 'Hore Promo 57' 'Hore Promo 58' 'Hore Promo 59' 'Hore Promo 60'
 'Hore Promo 61' 'Hore Promo 62' 'Hore Promo 63' 'Hore Promo 64'
 'Hore Promo 65' 'Hore Promo 66' 'Hore Promo 67' 'Hore Promo 68'
 'Hore Promo 69' 'Hore Promo 70' 'Hore Promo 71' 'Hore Promo 72'
 'Hore Promo 73' 'Hore Promo 74' 'Hore Promo 75' 'Hore Promo 76'
 'Hore Promo 77' 'Hore Promo 78' 'Hore Promo 79' 'Hore Promo 80'
 'Hore Promo 81' 'Hore Promo 82' nan '0']

In [63]:
file_path = 'C:\data felicia\Kuliah smtr 8\coway\data source\data konsumen2.xlsx'
df4_ca.to_excel(file_path, index=False)

In [92]:
# export to csv

file_path = 'C:\\data felicia\\Kuliah smtr 8\\coway\\data source\\hasil final3.csv'

# Export the DataFrame to a CSV file
df4.to_csv(file_path, index=False)